.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  padding: 92px 0;
  font-size: 18px;
  align-items: center;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  text-transform: lowercase;
  padding-left: 50px;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item a {
  text-decoration: underline;
  text-underline-offset: 4px;
  letter-spacing: 0.01em;
}

.header__links-list-item--start {
  list-style: none;
}

.header__links-list-item--active a {
  text-decoration: none;
}

.header__logo-image {
  padding: 0 6px;
}

.address-block {
  display: flex;
  flex-direction: column;
  line-height: 0.7em;
  padding-left: 185px;
}

.address-block__link {
  text-decoration: underline;
  text-underline-offset: 4px;
  letter-spacing: 0.01em;
}

.cover {
  min-height: 757px;
  position: relative;
  background: url("../images/cover.jpg") no-repeat center/cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  display: grid;
  position: relative;
  z-index: 2;
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.aligned-text {
  letter-spacing: 0.3em;
}

.aligned-text-start {
  text-align: start;
  padding: 165px 0 0 50px;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.aligned-text-center {
  text-align: center;
  padding-top: 10px;
}

.aligned-text-end {
  text-align: end;
  padding: 3px 20px 0 0;
}

.cover__description {
  display: grid;
  grid-template-columns: 1fr auto;
  position: relative;
  z-index: 2;
  align-items: center;
  font-size: 22px;
  text-transform: uppercase;
  color: white;
  padding: 125px 50px 0 80px;
}

.word-spacing-extended {
  word-spacing: 0.9em;
}

.word-spacing-slightly-extended {
  word-spacing: 0.8em;
}

.cover__description-bet-button {
  text-decoration: none;
  border: 1px solid white;
  padding: 12px 32px;
}

.lots {
  display: flex;
  flex-direction: column;
}

.lots__heading {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 180px 0 26px 65px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 334px);
  grid-auto-rows: 1fr;
  justify-content: start;
  gap: 25px;
  list-style: none;
  margin: 0 24px;
}

.card-link {
  display: flex;
  min-height: 100%;
  text-decoration: none;
}

.card {
  display: grid;
  position: relative;
  background: no-repeat center/cover;
}

.card--film {
  background-image: url("../images/card-lot-01.jpg");
}

.card__title {
  position: relative;
  z-index: 2;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2em;
  text-transform: uppercase;
  text-decoration: underline;
  padding: 50px 40px 0;
  color: white;
}

.card__text {
  position: relative;
  z-index: 2;
  align-content: end;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2em;
  padding: 0 40px;
  margin-bottom: 48px;
  color: white;
}

.card--book {
  background-image: url("../images/card-lot-02.jpg");
}

.card--picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  font-size: 20px;
  border-bottom: 1px solid black;
  text-transform: lowercase;
  text-decoration: none;
  margin: 30px auto auto 64px;
}

.about {
  margin: 181px 23px;
  gap: 12px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.about__logo {
  margin-left: 48px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  object-fit: contain;
  display: flex;
  background-color: black;
}

.about__title {
  margin: 102px auto 100px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 1.2em;
}

.footer {
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;
  font-size: 18px;
  margin-bottom: 90px;
}

.address-block.address-block--no-left-padding {
  padding: 5px 0 0 0;
}

.footer__menu {
  display: flex;
  font-size: 18px;
  text-transform: lowercase;
  justify-content: center;
}

.footer__menu-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.footer__menu-link {
  text-decoration: none;
  border-bottom: 2px solid black;
}

.footer__menu-link--active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: end;
  gap: 48px;
}

.footer__social-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
