.header {
    height: 293px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__menu {
    height: 105px;
    width: 1052px;
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
}

.header__links-list {
    font-size: 18px;
    text-transform: lowercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 33px 3px 26px;
}

.header__links-list-item {
    list-style: circle;
    padding-left: 0.2em;
    letter-spacing: 0.01em;
}

.header__links-list-item a {
    text-underline-offset: 3px;
}

.header__links-list-item-no-bullet {
    list-style: none;
}

.header__links-list-item-no-bullet a {
    text-decoration: none;
}

.header__logo-image {
    height: 105px;
}

address {
    height: 105px;
    font-size: 18px;
    display: grid;
    padding: 11px 0 8px 185px;
    line-height: 0.5em;
    text-underline-offset: 3px;
}

.header__phone,
.header__email {
    letter-spacing: 0.01em;
}

.cover {
    position: relative;
    height: 757px;
    background: url("../images/cover.jpg") no-repeat center;
    background-size: cover;
}

.cover__title {
    z-index: 2;
    position: absolute;
    font-size: 100px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.aligned-text {
    position: absolute;
    top: 165px;
    left: 50px;
    line-height: 115px;
    letter-spacing: 0.3em;
}

.aligned-text-center {
    position: absolute;
    top: 300px;
    left: 335px;
    line-height: 100px;
    letter-spacing: 0.3em;
}

.aligned-text-right {
    position: absolute;
    top: 420px;
    left: 635px;
    line-height: 100px;
    letter-spacing: 0.3em;
}

.span-ls-06em {
    letter-spacing: 0.6em
}

.cover__description {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    position: absolute;
    bottom: 50px;
    left: 78px;
    font-weight: medium;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    align-items: center;
}

.cover__description-text {
    word-spacing: 0.9em;
}

.span-ws-08em {
    word-spacing: 0.8em
}

.bet-button {
    text-decoration: none;
    margin-left: 80px;
    border: 1px solid white;
    padding: 12px 32px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}

.lots {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.lots__heading {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 180px 0 25px 65px;
}

.lots__card-list {
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 0 24px;
}

.card-link {
    text-decoration: none;
}

.card {
    display: flex;
    position: relative;
    min-width: 335px;
    min-height: 565px;
}

.card_type_film {
    background: url("../images/card-lot-01.jpg") no-repeat center;
    background-size: cover;
}

.card_type_book {
    background: url("../images/card-lot-02.jpg") no-repeat center;
    background-size: cover;
}

.card_type_picture {
    background: url("../images/card-lot-03.jpg") no-repeat center;
    background-size: cover;
}

.card__title {
    position: absolute;
    z-index: 2;
    color: white;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.20em;
    text-transform: uppercase;
    text-decoration: underline;
    padding: 53px 40px 0px;
}

.card__text {
    position: absolute;
    bottom: 0;
    z-index: 2;
    color: white;
    font-size: 20px;
    font-weight: medium;
    padding: 0px 40px;
    line-height: 1.20em;
    padding-bottom: 48px;
}

.span-ls-013em {
    letter-spacing: 0.13em
}

.lots__look-more-link {
    font-size: 20px;
    border-bottom: 1px solid black;
    text-transform: lowercase;
    text-decoration: none;
    margin: 30px auto auto 64px;
}

.about {
    margin: 180px 24px;
    gap: 12px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.about__logo {
    margin: 0px 0px 0px 48px;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.about__logo-image {
    width: 148px;
    object-fit: contain;
    display: flex;
    background-color: black;
}

.about__title {
    margin: 102px auto 100px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.about__text {
    line-height: 1.20em;
    letter-spacing: 0.01em;
    font-size: 20px;
}

.about__text.first {
    padding-bottom: 25px;
}

.span-ls-0em {
    letter-spacing: 0em
}

.span-ls-002em {
    letter-spacing: 0.02em
}

.span-ls-003em {
    letter-spacing: 0.03em
}

.span-ls-minus-001em {
    letter-spacing: -0.01em
}

.footer {
    width: 1000px;
    height: 98px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
}

.footer__adress {
    height: 98px;
    font-size: 18px;
    text-underline-offset: 3px;
    padding:  0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 0.66em;
}

.footer__menu {
    height: 98px;
    font-size: 18px;
    text-transform: lowercase;
    display: flex;
    justify-content: center;
}

.footer__menu-link {
    text-decoration: none;
    border-bottom: 2px solid black;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__menu-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.footer__social {
    height: 98px;
}

.footer__social-list {
    height: 48px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.footer__social-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    float: right;
    margin-left: 48px;
}